@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--color-bg) 0%, var(--toggle-bg) 100%);
  box-shadow: 0 5px 20px 0 #130A0C;
  padding: 18px 24px;
  max-width: 345px;
}


.image {
  margin-bottom: 26px;
  border-radius:15px ;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2.1);
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
}



.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-brown);
  color: var(--color-tertiary);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-tertiary);
  font-size: 19px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 8px 25px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.link:hover {
  background-color: #463233;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}