@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /* background: linear-gradient(0deg, var(--color-bg) 0%, var(--toggle-bg) 100%); */
  background: var(--color-bg);
  box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.1);
  padding: 18px 24px;
  max-width: 345px;
}

.imageContainer {
  margin-bottom: 26px;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  /* height: 200px; */
}

.imageContainer img {
  width: 100%;
  height: auto;
  transition: transform 1.2s ease-in-out;
}

.imageContainer:hover img {
  transform: scale(1.4);
  cursor: zoom-in;  
}


.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 18px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-brown);
  color: var(--color-tertiary);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-tertiary);
  font-size: 19px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #463233;
  padding: 8px 25px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.link:hover {
  background-color: var(--hover-btn);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}