@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
  padding: 0;
  justify-content: space-around;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  max-width: 50px; /* Adjust the size of your icons */
  height: auto;
  display: block;
  margin: 0 auto;
}

.link:hover{
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
}

.link:hover img {
  filter: grayscale(0%) blur(0.5px); /* Add grayscale and blur on hover */
}

.link:hover a {
  color: var(--color-tertiary); /* Change the color to your preferred hover color */
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }

  .link a {
    font-size: 14px;
  }
}