@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuBtn {
  display: none;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.9s ease, box-shadow 0.3s ease;
  background-color: transparent;
}

.menuItems a:hover {
  background-color: var(--color-primary);  
  color: var(--color-tertiary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}



@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: var(--color-bg);
    /* background: linear-gradient(
      0deg,
      rgba(145, 141, 97, 0.2) 0%,
      var(--color-bg) 86%
    ); */
    padding: 24px 33px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.65);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}