:root {
    /* Colours */
    --color-bg: #fced97;
    --color-text: #130A0C;
    --color-primary: #251418;
    --color-secondary: #918d61;
    --color-tertiary:#fced97;
    --color-brown: #825a48;
    --color-bg-soft: #fef5b9;
    --toggle-bg: #7E774C;
    --toggle-fg: #251418;
    --about-bg: #918d6199;

    /* Fonts */
    --font-roboto: "Roboto";

    /* --color-text: #130A0C;
    --color-primary: #251418;
    rgb(19, 10, 12)
    --color-secondary: #918d61;
    rgb(145 , 141 , 97)
    --color-tertiary:#fced97;
    --color-quaternary:#fffbaf;
    --color-dark:#130B0C;
    --color-bg: #fef5b9;
    --color-brown: #825a48;
    rgb(130,90,72) */
  
    /* Dark Mode */
    /* --color-secondary-dark: #FF7E58;
    --color-bg-dark: #7E774C;
    --color-tertiary-dark: #7F7B5D; */
  }

  [data-theme="dark"] {
    --color-bg: #918d61;
    --color-text: #130A0C;
    --color-primary: #FF7E58;
    --color-secondary: #7E774C;
    --color-tertiary:#fced97;
    --color-brown: #825a48;
    --color-bg-soft: #251418;
    --toggle-fg: #251418;  
    /* Fonts */
    --font-roboto: "Roboto";
  }